<?xml version="1.0"?>
<launch>
  <arg name="joystick_config" default="$(find bebop_robot)/config/logitech_F310.yaml" />

  <rosparam file="$(arg joystick_config)" command="load" />

  <node pkg="joy" type="joy_node" name="joy_node" output="screen">
    <param name="dev" value="/dev/input/js0" />
    <param name="deadzone" value="0.1" />
    <!-- Send joy message at 30 Hz -->
    <param name="coalesce_interval" value="0.033" />
    <!-- Send joy message at 30 Hz -->
    <param name="autorepeat_rate" value="20" />

  </node>

  <node pkg="joy_teleop" type="joy_teleop.py" name="joy_teleop" output="screen">

  </node>
</launch>
